<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
<h1>List of Books</h1>
<% if(books.length === 0) { %>
    <p>No books has been found.</p>
<% } else { %>
    <ul>
        <% books.forEach(book => { %>
            <li><%= book.title %> by <%= book.author %></li>
        <% }) %>
    </ul>
<% } %>
</body>
</html>
